1. Write a Python function that takes a list and returns a new list with distinct elements from
the first list.

In [29]:
def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

print(unique_list([1, 2, 3, 1, 2]))

[1, 2, 3]

2. Write a Python program to access a function inside a function.

In [3]:
def test(x):
    def add(y):
        nonlocal x
        x+=1
        return x+y
    return add 
function = test(4)
print(function(4))

9

3. Use a loop to display elements from a given list present at odd index positions.

In [2]:
list= [10,30,40,50,60,79,80]

for index in range (len(list)):
    value=list[index]
    print(index,"-",value)

0 - 10
1 - 30
2 - 40
3 - 50
4 - 60
5 - 79
6 - 80

4. Write a program to print the following star pattern using the for loop

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end="")
    print()
for i in range(1,6):
    for j in range(1,7-i):
        print("*",end="")
    print()

*
**
***
****
*****
*****
****
***
**
*

5. Write a program to accept a number from a user and calculate the sum of all numbers
from 1 to a given number

In [23]:
add=0
given_number=int(input("Enter the last number:"))
for i in range(1,given_number+1):
    add=add+i
print("Sum of numbers =",add)

Enter the last number:5
Sum of numbers = 15

6. Write a program to increase those values in the given Pandas Series by 50 which are
less than 70.

In [32]:
import pandas as pd

def increase_values(series):
    for i in range(len(series)):
        if series[i] < 70:
            series[i] += 50
    return series
print("Before:", series)
series = increase_values(series)
print("After:", series)

data = [50, 60, 70, 80, 90]
series = pd.Series(data)

Before: 0    50
1    60
2    70
3    75
4    65
dtype: int64
After: 0    100
1    110
2     70
3     75
4    115
dtype: int64