In [1]:
import pandas as pd
import numpy as np

1- create a series object s1 which holds the values in the list format

In [3]:
S1=["efg","hfg","rkh"]

ser=pd.Series(S1)
S1

['efg', 'hfg', 'rkh']

2- create a series object which stores the initial budget value (30000) for each quarter of the year.

In [4]:
ser= pd.Series(30000,index=["Qtr 1","Qtr 2","Qtr 3","Qtr 4"])
ser

Qtr 1    30000
Qtr 2    30000
Qtr 3    30000
Qtr 4    30000
dtype: int64

3-create a series object using the ndarray which has 10 elements in the range of 0 to 70

In [5]:
ser=np.array([2,5,19,25,35,44,56,62,68,69])
sr=pd.Series(ser)
sr

0     2
1     5
2    19
3    25
4    35
5    44
6    56
7    62
8    68
9    69
dtype: int32

4- create a series object using the dictionary which stores the total hindi marks of the students in each 4 sections.

In [7]:
dic= {"shovin":30,"sherwin":60,"yukta":70,"relwin":80}
ser=pd.Series(dic)
ser

shovin     30
sherwin    60
yukta      70
relwin     80
dtype: int64

5- the total number of questions asked in an exam is 200 , which held in every 2 years. create a series object which stores these 200 questions in the time period from 2002 to 2023

In [12]:
ser=pd.Series(200,index=[i for i in range(2002,2023,2)])
print(ser)

2002    200
2004    200
2006    200
2008    200
2010    200
2012    200
2014    200
2016    200
2018    200
2020    200
2022    200
dtype: int64