In [1]:
import pandas as pd
import numpy as np

Q1 - Create a series object which stores the total number of candidates in the 5 sections of an MNC company also gives the name of section. Write a code to modify the value of 2nd section to any value of your choice and the section number 4th & 5th needs to be modified.

In [5]:
S1=pd.Series(data=[10,20,30,40,50],index=['HR department','account derpartment','computer departmenr','manager department','IT department'])
S1

HR department          10
account derpartment    20
computer departmenr    30
manager department     40
IT department          50
dtype: int64

In [7]:
S1[1]=30
S1['manager department']=60
S1['IT department']=70
S1

HR department          10
account derpartment    30
computer departmenr    30
manager department     60
IT department          70
dtype: int64

Q2 - Consider the two series objects as A1(class 11) & A2(12) which storing the total number of students in 3 streams Science, commerce and humanities. Write a code to find the total number of students of both the series objects stream vise.

In [16]:
A1=pd.Series(data=[12,13,14],index=['Science','commerce','humanities'])
A2=pd.Series(data=[15,16,17],index=['Science','commerce','humanities'])
print(A1)
print(A2)

Science       12
commerce      13
humanities    14
dtype: int64
Science       15
commerce      16
humanities    17
dtype: int64

In [13]:
A1+A2

Science       27
commerce      29
humanities    31
dtype: int64

Q3 - Create the object 1 as population storing the details of populations in 4 different metro cities of India and object 2 is average income stores the total average income of the population in the 4 metro cities. Calcualte income per capita for each of these metro cities.

In [25]:
S1=pd.Series(data=[5000,6000,7000,8000],index=['Bangalore','mumbai','delhi','chennai'])
S2=pd.Series(data=[30000,40000,50000,70000],index=['Bangalore','mumbai','delhi','chennai'])
print(S1)
print(S2)

Bangalore    5000
mumbai       6000
delhi        7000
chennai      8000
dtype: int64
Bangalore    30000
mumbai       40000
delhi        50000
chennai      70000
dtype: int64

In [26]:
S2/S1

Bangalore    6.000000
mumbai       6.666667
delhi        7.142857
chennai      8.750000
dtype: float64

Q4 - Create a series object S2 which stores the charity contribution made by 4 sections A,B,C,D. Write a code to display the sections who has displayed the contribution more than 8000

In [30]:
S3=pd.Series(data=[5000,60000,40000,3000],index=["A","B","C","D"])
S3[S3>8000]

B    60000
C    40000
dtype: int64